:root
{
	--color-bg:			#fff;
	--color-body:		#000;
	--color-button:		#fff;
	--color-button-hover:		#ccc;
	--color-element-bg:	#f4f4f4;
	--color-element-bg-hover:	#ddd;
	--color-element-border-color:		#ccc #ddd #eee #ccc;
	--color-emphasis:	#00f;
	--color-emphasis2:	#77c;
	--color-good:		#ddf;
	--color-hidden-cell:#ddd;
	--color-hover:		#777;
	--color-link:		#33f;
	--color-morphism:	#000;
	--color-object:		#000;
	--color-panel-bg:	#f7f7f7;
	--color-panel-shadow:	#f0f0f0d0;
	--color-sidenav-acc:	#eee;
	--color-statusbar:	#000;
	--color-statusbar-bg:	#ffe;
	--color-text:		#000;
	--color-toolbar-bg:	#eee;
	--color-toolbar-shadow:	#bbb;
	--color-warn:		#ff0;
	--height-button:	32px;
	--height-navbar-text:	22px;
	--height-sidenavAccordion-text:	16px;
}

[data-theme="dark"]
{
	--color-bg:			#222;
	--color-body:		#fff;
	--color-button:		#444;
	--color-button-hover:		#888;
	--color-element-bg:	#555;
	--color-element-bg-hover:	#777;
	--color-element-border-color:		#333 #444 #222 #333;
	--color-emphasis:	#0ff;
	--color-emphasis2:	#77c;
	--color-good:		#ddf;
	--color-hidden-cell:#444;
	--color-hover:		#aaa;
	--color-link:		cyan;
	--color-morphism:	#fff;
	--color-object:		#fff;
	--color-panel-bg:	#666;
	--color-panel-shadow:	#505050d0;
	--color-sidenav-acc:	#555;
	--color-statusbar:	#fff;
	--color-statusbar-bg:	#554;
	--color-text:		#fff;
	--color-toolbar-bg:	#444;
	--color-toolbar-shadow:	#333;
	--color-warn:		#ff0;
	--height-button:	32px;
	--height-navbar-text	22px;
	--height-sidenavAccordion-text	16px;
}

html, body
{
	font:		12px "Fira Sans",sans-serif;
	height:		100%;
	margin:		0px 0px 0px 0px;
	background-color:	var(--color-bg);
	color:		var(--color-body);
}

label
{
	margin:	4px;
}

img
{
	box-shadow:			2px 2px 2px 2px #bbbb;
}

hr
{
	color:			#ccc;
	border-width:	1px;
	box-shadow:		1px 1px 1px 1px #bbbb;
}

th
{
	text-align:	center;
	font-weight:	bold;
}

.bold
{
	font-weight:	bold;
	margin:			5px;
}

.smallBold
{
	font-weight:	bold;
	font-size:		10px;
	margin:			5px;
}

.smallPrint
{
	font-weight:	lighter;
	font-size:		10px;
	margin:			5px;
}

.tinyPrint
{
	font-weight:	bolder;
	font-size:		8px;
	margin:			5px;
}

.diagramRowDescription
{
	font-style:		italic;
	font-weight:	normal;
	font-size:		10px;
	margin:			5px;
}

.author
{
	color:			inherit;
	font-weight:	600;
	font-size:		8px;
	margin:			10px;
	text-align:		left;
}

.italic
{
	font-style:		italic;
	margin:			5px;
}

.underline
{
	text-decoration:	underline dotted;
}

.quantifier
{
	font-size:		20px;
	font-weight:	bold;
}

.tty
{
	display:		block;
	font:			12px "monospace", sans-serif;
	margin:			5px;
	unicode-bidi:	embed;
	white-space:	pre;
}

.code
{
	font-family:	courier;
	display:		block;
	tab-size:		4;
	unicode-bidi:	embed;
	white-space:	pre;
	margin:			10px;
}

h1
{
	font-weight:	bold;
	margin:			5px 4px 2px 4px;
	font-size:		26px;
	text-align:		center;
}

h2
{
	font-weight:	bold;
	margin:			5px 4px 2px 4px;
	font-size:		22px;
	text-align:		center;
}

h3
{
	font-weight:bold;
	text-align:	center;
	font-size:	18px;
	margin:		5px 4px 2px 4px;
}

h4
{
	font-weight:bold;
	text-align:	center;
	font-size:	14px;
	margin:		5px 4px 2px 4px;
}

h5
{
	font-weight:	bold;
	text-align:		left;
	font-size:		12px;
	margin:			4px 4px 2px 4px;
}

.sidenavPnl
{
	background-color:	var(--color-panel-bg);
	height:				100%;
	margin:				0px;
	overflow-x:			hidden;
	position:			fixed;
	top:				var(--height-button);
	transition:			1s;
	width:				0;
	z-index:			2;
}

table
{
	border-collapse:	collapse;
	border-spacing:		0px;
	margin:				auto;
	vertical-align:		middle;
}

table.diagramSlot
{
	border-collapse:	collapse;
	vertical-align:		middle;
	width:				auto;
}

table.smallTable
{
	width:				auto;
	margin:				0px;
	border-collapse:	collapse;
}

table.verticalTools
{
	width:				auto;
	margin:				0px;
	border-collapse:	collapse;
	box-shadow:			2px 2px 2px 2px #bbbb;
	opacity:			0;
	position:			absolute;
	top:				8px;
	right:				6px;
	transition:			0.3s;
}

table.center
{
	margin-left:auto;
	margin-right:auto;
}

table.left
{
	margin-left:0px;
	margin-right:auto;
}

#catalog-display
{
	background-color:		var(--color-bg);
	display:				grid;
	grid-column-gap:		5px;
	grid-template-columns:	repeat(auto-fill, minmax(330px, 1fr));
	text-align:				center;
	width:					100vw;
}

h1.catalog
{
	margin:				0px;
	font-size:			36px;
	font-weight:		bold;
}

.catalogEntry
{
	background-color:	var(--color-bg);
	margin:				20px 0px 0px 0px;
	padding:			10px;
}


#catalog
{
	width:				100%;
	position:			absolute;
}

.catalog-img
{
	cursor:	pointer;
	transition:	0.5s;
	height:	auto;
	width:	100%;
}

.left
{
	text-align:	left;
}

.right
{
	text-align:	right;
}

.center
{
	text-align:	center;
}

br
{
	display:	block;
	line-height:0px;
	margin:		0px;
	content:	" ";
}

.sidenavLeftPnl
{
	box-shadow:	4px 0px 2px 0px var(--color-panel-shadow);
	left:		0;
}

.sidenavRightPnl
{
	box-shadow:-4px 0px 2px 0px var(--color-panel-shadow);
	right:		0;
}

a
{
	text-decoration:	none;
	color:				var(--color-link);
	fill:				var(--color-link);
	cursor:				pointer;
	display:			block;
	stroke:				var(--color-link);
	transition:			0.3s
}

a:hover, .offcanvas a:focus
{
	color: #ddd;
	background-color:	#777a;
}

.link
{
	cursor:				pointer;
	display:			block;
	fill:				var(--color-text);
	text-decoration:	underline;
	transition:			0.3s
}

.link:hover
{
	background-color:	#777a;
}

p
{
	margin:	2px;
}

.error
{
	background-color:	#f77;
	color:				var(--color-bg);
}

.w10
{
	width:	10%;
}

.w20
{
	width:	20%;
	height:	var(--height-button);
}

.w33
{
	width:	33%;
	height:	var(--height-button);
}

.w100
{
	width:	100%;
}

#navbar
{
	color:				var(--color-bg);
	height:				var(--height-button);
	margin:				0;
	overflow:			hidden;
	position:			fixed;
	width:				100%;
	z-index:			1;
	transition:			all 1s ease-in-out;
}

#navbar a
{
	color:				var(--color-bg);
	font-weight:		bold;
	padding:			0px;
	text-align:			center;
	text-decoration:	none;
}
#navbar a:hover
{
	color:	#777;
}

.navbar-float
{
	float:			left;
	text-align:		left;
	width:			20%;
}

@media screen and (max-width:800px)
{
	.navbar-float
	{
		width:		100%;
	}
}

[class*="navtxt-"]
{
	color:				white;
	font-weight:		bold;
	font-size:			var(--height-navbar-text);
	padding:			0px;
	text-align:			center;
	height:				var(--height-button);
	margin:				auto 0;
}
.navtxt-link
{
	cursor:				pointer;
	text-decoration:	underline;
}
.navtxt-text
{
	position:		relative;
	top:			10%;
}

.navtxt-link:hover, .offcanvas .navtxt-link:focus
{
	color:				#ddd;
	background-color:	#777a;
}

.navbar-tools
{
	padding:			0px;
}

.grabbable
{
	cursor:			grab;
	user-select:	none;
}

#toolbar
{
	background-color:	var(--color-toolbar-bg);
	border-width: 		0px;
	border-radius:		4px;
	box-shadow:			4px 4px 2px 2px var(--color-toolbar-shadow);
	display:			inline-block;
	margin:				0px;
	overflow:			hidden;
	opacity:			1;
	padding:			0px;
	position:			absolute;
	text-align:			left;
	transition:			opacity 1s, height 0s;
	z-index:			1;
}

.toolbar-buttons
{
	margin:	1px;
	width:	100%;
}

#toolbar-error
{
	margin:		0px;
	padding:	0px;
}

#toolbar-help
{
	margin:		0px;
}

#help-table
{
	margin:	0px;
}

.toolbar-element
{
	background-color:	var(--color-toolbar-bg);
	border-collapse:	collapse;
	border-width: 		0px;
	border-radius:		4px;
	box-shadow:			2px 2px 2px 2px #bbbb;
	display:			inline-block;
	margin:				0px;
	overflow:			hidden;
	opacity:			0;
	padding:			0px;
	position:			absolute;
	right:				6px;
	text-align:			left;
	top:				0px;
	transition:			opacity 1s, height 0s;
	width:				auto;
	z-index:			2;
}

.hidden
{
	opacity:	0;			/* needed for instant transition */
	box-shadow:	none;
	visibility:	hidden;		/* needed for svg.getBBox() */
	display:	none;
}

.trans
{
	transition: all 0.15s ease-in-out;
}

.nodisplay
{
	display:			none;
}

#statusbar
{
	background-color:	var(--color-statusbar-bg);
	border:				solid;
	border-color: 		yellow;
	border-width: 		2px;
	border-radius:		6px;
	box-shadow:			4px 4px 2px 1px #bdd9;
	color:				var(--color-statusbar);
	cursor:				none;
	display:			inline-block;
	font-size:			12px;
	margin:				2px;
	overflow:			hidden;
	padding:			4px;
	position:			absolute;
	white-space:		pre;
	z-index:			4;
}

.svgstr1
{
	fill:				none;
	stroke:				var(--color-morphism);
	stroke-width:		20px;
	stroke-linecap:		round;
	stroke-linejoin:	round;
}

.svgstr3
{
	fill:			none;
	stroke:			var(--color-morphism);
	stroke-width:	10px
}

.svgstr4
{
	fill:			none;
	stroke:			var(--color-morphism);
	stroke-width:	20px
}

.svgstr5
{
	fill:			none;
	stroke:			var(--color-morphism);
	stroke-width:	30px
}

.arrow0dash
{
	fill:				none;
	stroke:				var(--color-morphism);
	stroke-dasharray:	10,10;
	stroke-width:		20px;
}

.arrow0rnd
{
	fill:			none;
	stroke:			var(--color-morphism);
	stroke-width:	20px;
	stroke-linecap:	round;
}

.icon-bold
{
	fill:			none;
	stroke:			var(--color-morphism);
	stroke-linecap:	round;
	stroke-width:	30px;
}

.icon-std
{
	fill:			none;
	stroke:			var(--color-morphism);
	stroke-width:	25px;
}

.icon-thin
{
	fill:			none;
	stroke:			var(--color-morphism);
	stroke-width:	15px;
}

.arrow3 {fill:none; stroke:#333; stroke-width:20px;}
.arrow6 {fill:none; stroke:#666; stroke-width:20px;}
.arrow9 {fill:none; stroke:#999; stroke-width:20px;}
.arrowF {fill:none; stroke:#FFF; stroke-width:20px;}
.svgstrThinGray
{
	fill:none;
	stroke:#777;
	stroke-width:10px;
}
.svgfil0
{
	fill:var(--color-morphism);
	fill-rule:nonzero;
}
.svgfil1
{
	fill:#bbb;
	fill-opacity:	0.7;
}
.svgfil3
{
	fill:#333333;
}
.svgfil4
{
	fill:			var(--color-bg);
}
.svgfil5
{
	fill:			#fff;
	stroke:			#333;
	stroke-width:	20px;
}

.sidenavAccordion
{
	background-color:	var(--color-sidenav-acc);
	border:				none;
	color:				var(--color-body);
	cursor:				pointer;
	font-weight:		bold;
	font-size:			var(--height-sidenavAccordion-text);
	margin:				4px 0px 4px 0px;
	outline:			none;
	text-align:			center;
	transition:			0.4s;
	width:				100%;
}

.sidenavAccordion:hover
{
	background-color:	#777;
	color:				var(--color-hover);
}

.sidenavAccordion::after
{
	content:	'\02795';
	float:		right;
	margin-left:	5px;
}

.section
{
	display:	none;
	overflow:	hidden;
	margin:		0px;
}

.active::after
{
	background-color:	#aaa;
	content:	'\02796';
}

.in100
{
	box-sizing:			border-box;
}

.indexText
{
	fill:		var(--color-text);
}

.txtCenter
{
	text-align:	center;
}

.btn
{
	cursor:			pointer;
	fill-opacity:	0;
}

.btn:hover
{
	fill:	#888;
	fill-opacity:	0.5;
}

.stdBackground
{
	background-color:	var(--color-bg);
}

.button
{
	border-spacing:		0px;
	border-collapse:	collapse;
	height:				var(--height-button);
	padding:			0px;
	width:				auto;
	vertical-align:		middle;
}

.buttonBarRight
{
	margin:				0px 0px 0px auto;
	padding:			0px;
	text-align:			right;
}

.buttonBarLeft
{
	margin:				0px auto 0px 0px;
	padding:			0px;
	text-align:			left;
}

.textButton
{
	margin:				4px;
	border:				solid;
	background-color:	var(--color-button);
	border-color:		#999;
	border-radius:		4px;
	border-width:		2px;
	box-shadow:			3px 3px 2px 1px #bbbb;
	color:				var(--color-body);
	cursor:				pointer;
	padding:			4px;
}

.textButton:hover
{
	background-color:	var(--color-button-hover);
}

.svg
{
	position:	fixed;
	margin:		0px;
	z-index:	0;
}

.object
{
	fill:			var(--color-object);
	font:			30px 'Source Sans Pro',Roboto,"San Francisco","Segoe UI",sans-serif;
	margin:			2px;
	user-select:	none;
}

.fuseObject
{
	fill:			blue;
	stroke:			blue;
	stroke-width:	2px;
	font:			30px 'Source Sans Pro',Roboto,"San Francisco","Segoe UI",sans-serif;
	margin:			2px;
	user-select:	none;
}

.morphTxt
{
	fill:			var(--color-morphism);
	font:			24px 'Source Sans Pro',Roboto,"San Francisco","Segoe UI",sans-serif;
	margin:			2px;
	user-select:	none;
}

.morphism
{
	fill:			none;
	margin:			2px;
	padding:		2px;
	stroke:			var(--color-text);
	stroke-linecap:	round;
	stroke-linejoin:round;
	stroke-width:	2.5px;
	user-select:	none;
}

.quantifier
{
	cursor:			grab;
	fill:			var(--color-bg);
	font:			24px 'Source Sans Pro',Roboto,"San Francisco","Segoe UI",sans-serif;
	stroke:			var(--color-text);
	stroke-width:	0.5px;
	text-anchor:	middle;
	text-shadow:	0 0 20px #ffff, 0 0 30px #7777, 0 0 40px #fff7, 0 0 50px #8887, 0 0 60px #bbb7;
	user-select:	none;
}

.grabme
{
	fill:			none;
	stroke:			#fff0;
	stroke-width:	30px;
}

.fuseMorphism
{
	fill:			blue;
	stroke:			blue;
	font:			20px 'Source Sans Pro',Roboto,"San Francisco","Segoe UI",sans-serif;
	margin:			2px;
	padding:		2px;
	stroke-width:	2.5px;
	user-select:	none;
}

.referenceMorphism
{
	fill:			none;
	margin:			2px;
	padding:		2px;
	stroke:			var(--color-morphism);
	stroke-dasharray:	7,5;
	stroke-linecap:		round;
	stroke-width:	2.5px;
	user-select:	none;
}

svg path
{
	stroke-dasharray:	inherit;
	stroke:				inherit;
}

svg line
{
	stroke-dasharray:	inherit;
	stroke:				inherit;
	fill:				inherit;
}

text.emphasis
{
	fill:		var(--color-emphasis);
}

circle.emphasis
{
	fill:		var(--color-emphasis);
}

svg line.emphasis
{
	stroke-dasharray:	5,5;
	stroke:		var(--color-emphasis);
	fill:		var(--color-emphasis);
}

path.emphasis
{
	stroke-dasharray:	5,5;
	fill:				none;
}

polyline.emphasis
{
	stroke-dasharray:	5,5;
}

rect.emphasis
{
	fill:		none;
	stroke-dasharray:	5,5;
}

.emphasis
{
	stroke:		var(--color-emphasis);
	fill:		var(--color-emphasis);
}

use.emphasis
{
	stroke:		var(--color-emphasis);
	fill:		var(--color-emphasis);
}

.emphasis2
{
}

text.emphasis2
{
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #aaa, 0 0 40px #aaa, 0 0 50px #aaa;
	box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #aaa, 0 0 20px #aaa, 0 0 25px #aaa;
}

circle.emphasis2
{
}

svg line.emphasis2
{
	stroke-dasharray:	5,5;
}

path.emphasis2
{
	stroke-dasharray:	5,5;
	fill:				none;
	filter:				url(#softGlow);
}

polyline.emphasis2
{
	stroke-dasharray:	5,5;
}

rect.emphasis2
{
	fill:		none;
	stroke-dasharray:	5,5;
}

use.emphasis2
{
	stroke:		var(--color-emphasis2);
	fill:		var(--color-emphasis2);
}

.selected
{
	stroke:		#9f9;
}

#diagramSVG
{
	overflow:			visible;
	transform-origin:	0px 0px;
}

#threeDiv
{
	width:		100%;
	height:		95%;
	max-height:	100%;
	max-width:	100%;
}

textarea
{
	background-color:	var(--color-element-bg);
	border-color:		var(--color-element-border-color);
	color:				var(--color-body);
}

[contenteditable="true"]
{
	background:	var(--color-bg);
	color:		var(--color--body);
	outline:	1px solid;
}

.string
{
	fill:				none;
	opacity:			.8;
	stroke-width:		4px;
	stroke-linecap:		round;
	stroke-linejoin:	round;
	stroke-miterlimit:	2.6;
}

#selectRect
{
	fill:				none;
	stroke:				green;
	stroke-dasharray:	5;
	stroke-linecap:		round;
	stroke-linejoin:	round;
	stroke-miterlimit:	2;
	stroke-width:		1px;
	position:			absolute;
}

.smallCaps
{
	font-variant-caps:	small-caps;
}

.glow
{
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f;
	box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00f, 0 0 20px #00f, 0 0 25px #00f;
}

.badGlow
{
	text-shadow: 0 0 10px #f00, 0 0 20px #fff, 0 0 30px #f00, 0 0 40px #f00, 0 0 50px #f00;
}

.warningGlow
{
	text-shadow: 0 0 10px #ff0, 0 0 20px #fff, 0 0 30px #ff0, 0 0 40px #ff0, 0 0 50px #ff0;
	box-shadow: 0 0 5px #ff0, 0 0 10px #fff, 0 0 15px #ff0, 0 0 20px #ff0, 0 0 25px #ff0;
}

.greenGlow
{
	text-shadow: 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0, 0 0 50px #0f0, 0 0 60px #0f0;
	box-shadow: 0 0 10px #0f0, 0 0 15px #0f0, 0 0 20px #0f0, 0 0 25px #0f0, 0 0 30px #0f0;
}

.cyanGlow
{
	text-shadow: 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 50px #0ff, 0 0 60px #0ff;
}

.magentaGlow
{
	text-shadow: 0 0 20px #f0f, 0 0 30px #f0f, 0 0 40px #f0f, 0 0 50px #f0f, 0 0 60px #f0f;
}

.element
{
	background-color:	var(--color-element-bg);
	border:				2px solid;
	border-collapse:	separate;
	border-color:		var(--color-element-border-color);
	border-radius:		5px;
	color:				var(--color-body);
	margin:				1px;
	padding:			2px;
	position:			relative;
}

.element:hover
{
	background-color:	var(--color-element-bg-hover);
	color: 				var(--color-body);
}

.playedCmd
{
	background-color:	#ddd;
}

.playedBadCmd
{
	background-color:	#fdd;
}

proper-name
{
	border:			none;
	color:			var(--color-text);
	display:		inline-block;
	font:			16px sans-serif;
	font-weight:	bold;
	overflow:		hidden;
	text-overflow:	ellipsis;
	white-space:	nowrap;
}

basename
{
	border:			none;
	color:			var(--color-text);
	display:		inline-block;
	font-weight:	lighter;
	font-size:		12px;
	text-align:		left;
	white-space:	nowrap;
	overflow:		hidden;
	text-overflow:	ellipsis;
	width:			200px;
}

description
{
	border:				none;
	background-color:	var(--color-panel-bg);
	color:				var(--color-body);
	text-align:			left;
	white-space:		pre;
}

.cellTxt
{
	fill:			var(--color-text);
	font:			28px 'Source Sans Pro',Roboto,"San Francisco","Segoe UI",sans-serif;
	user-select:	none;
}

.hiddenCell
{
	fill:			var(--color-hidden-cell);
	font:			28px 'Source Sans Pro',Roboto,"San Francisco","Segoe UI",sans-serif;
	user-select:	none;
}

.badCell
{
	fill:			#f00;
	font:			28px 'Source Sans Pro',Roboto,"San Francisco","Segoe UI",sans-serif;
	margin:			2px;
	user-select:	none;
	text-shadow:	0 0 10px #f00, 0 0 20px #fff, 0 0 30px #f00, 0 0 40px #f00, 0 0 50px #f00;
}

.display
{
	margin:			3px;
	padding:		3px;
}
.searching
{
	background-color:	#aaf;
}

.search
{
	fill:			none;
	stroke:			var(--color-body);
	stroke-linecap:	round;
	stroke-width:	20px;
}

.icon
{
	font-weight:	bold;
	fill:			var(--color-body);
	position:		relative;
	stroke:			none;
	top:			0.3em;
}

.iconSet
{
	width:				0px;
	height:				0px;
	position:			fixed;
}

.icon-background
{
	fill:				var(--color-bg);
	width:				0.32in;
	height:				0.32in;
	fill-opacity:		1;
}

.icon-table
{
	background-color:	var(--color-bg);
}

.icon-active
{
	fill:			#8B8;
	fill-opacity:	0.5;
}

.diagramBackground
{
	fill:				var(--color-bg);
	fill-opacity:		1;
	filter:				url(#diagramShadow);
	stroke:				#aaaa;
	stroke-width:		1px;
}

.diagramBackgroundActive
{
	fill:				var(--color-bg);
	fill-opacity:		1;
	filter:				url(#diagramShadow);
}

.diagramForeground
{
	opacity:			0;
}

.defaultGlow
{
	filter:				url(#diagramGlow);
}

.catalogTop
{
	text-align:			center;
	top:				var(--height-button);
	width:				100%;
}

span[contenteditable="true"].selected
{
	border:		none;
	color:		blue;
	outline:	none;
}

.infoRowsTable
{
	width:		100%;
}

.tool-search-results
{
	margin:		4px;
	max-height:	600px;
	overflow-y:	auto;
}

#tool-search-filter
{
	margin:	0px 4px 0px 4px;
}

#tool-search-sorter
{
	margin:	0px 4px 0px 4px;
}

.image-element
{
	text-align:	center;
}

.matching-table
{
	margin:		4px;
	width:		95%;
}

.tool-entry-actions
{
	float:		right;
	position:	relative;
	top:		-1em;
}

.shadow
{
	box-shadow:			2px 2px 2px 2px #bbbb;
}

tspan
{
	white-space:		pre;
}

.clickable
{
	cursor:				pointer;
}

.assyError
{
	fill:	#f009;
	ry:		50;
}
.assyFold
{
	fill:				none;
	ry:					35;
	stroke:				#ff06;
	stroke-width:		10;
}
.assyCoreference
{
	fill:				none;
	ry:					35;
	stroke:				#ff06;
	stroke-dasharray:	5, 20;
	stroke-linecap:		round;
	stroke-width:		10;
}
.assyInput
{
	fill:				none;
	ry:					35;
	stroke:				#0f06;
	stroke-width:		10;
}
.assyOutput
{
	fill:				none;
	ry:					35;
	stroke:				#00f6;
	stroke-width:		10;
}
.assyOverload
{
	fill:				none;
	ry:					35;
	stroke:				#f006;
	stroke-width:		10;
}
.assyReference
{
	fill:				none;
	ry:					35;
	stroke:				#0aa3;
	stroke-dasharray:	5, 20;
	stroke-linecap:		round;
	stroke-width:		10;
}
.assyOrigin
{
	fill:				none;
	ry:					35;
	stroke:				#aaa3;
	stroke-width:		10;
}

#catalog-diagram-new
{
	margin-left:		auto;
}

.catalog-input
{
	margin:	0px 4px 0px 4px;
}

.text-editor
{
	background-color:	var(--color-bg);
	border:				blue;
	border-width:		1px;
	box-shadow:			1px 1px 1px 1px #bbbb;
	color:				var(--color-body);
	font-family:		"Fira Sans",sans-serif;
	margin:				2px;
	white-space:		pre-wrap;
	width:				fit-content;
	word-wrap:			break-word;
}

.ifocus
{
}

.borderAlert
{
	cursor:			none;
	user-select:	none;
}

.radgrad0
{
	stop-color:		var(--color-body);
	stop-opacity:	1;
}
.radgrad1
{
	stop-color:		var(--color-bg);
	stop-opacity:	0;
}
.radgrad2
{
	stop-color:		#888;
	stop-opacity:	1;
}

.level
{
	fill:			none;
	stroke:			var(--color-text);
	stroke-linecap:	square;
	stroke-linejoin:round;
	stroke-width:	1.5px;
	user-select:	none;
}

.term
{
	background-color:	var(--color-element-bg);
	border:				2px solid;
	border-color:		var(--color-element-border-color);
	border-collapse:	separate;
	border-radius:		5px;
	color:				var(--color-body);
	font:				14px "Fira Sans",sans-serif;
	margin:				2px 2px 2px 2px;
	padding:			2px;
	position:			relative;
}

.term:hover
{
	background-color:	var(--color-element-bg-hover);
	color: 				var(--color-body);
}

.definition
{
	text-decoration:	underline overline;
}

.definitionInstance
{
	text-decoration:	underline overline;
}

.theorem
{
	text-decoration:	underline overline;
}

.dropTarget
{
	background:	var(--color-panel-bg);
	border:		1px solid black;
	height:		var(--height-button)
}
